@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#fundo-um{
    background-color: #5e5959;
    color: #ffffff;
}
.texto-pag{
    font-size: 3.5vw;
    margin-top: 100px;
    margin-bottom: 200px;
}
#texto-pagi{
    background-color: #5e5959;
    text-align: center;
    padding: 50px;
    color: #ffffff;
    margin-bottom: 100px;
}
#texto-pagi > h2 {
    font-size: 2vw;
}
.table{
    margin-top: 100px;
    background-size: cover;
}
.total{
    text-align: center;
    margin: -10px 0px 50px 0px;
    animation: treme .5s infinite;
}
.footer{
    text-align: center;
    background-color: #898787;
    padding: 1px;
}
.jumbotron
{
    height: 100vh;
}
.bounce {
    margin-top: 150px;
    text-align: center;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 3px;}
    50% {margin-left: 0;}
    75% {margin-left: -3px;}
    100% {margin-left: 0;}
  }
  
@media (max-width: 600px) {
    #texto-pagi > h2 {
        font-size: 3.5vw;
    }
}
    